<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<body>
    <h1>main page</h1>
    <p>this is my main page</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, corrupti. Voluptas odio error vitae? Sapiente
        exercitationem repellendus hic magnam nesciunt nemo incidunt fugit suscipit sunt, molestias ex similique sed
        iure.
        Dolorum a blanditiis sunt hic aut, eaque pariatur facilis accusamus laudantium nihil provident id officia
        reiciendis totam distinctio qui mollitia quidem veniam molestiae explicabo doloribus quia! Corporis magni
        deserunt recusandae?
        Ab facere cumque ea repellat maxime ratione corporis itaque natus adipisci nisi minima totam quam non,
        architecto similique iure neque vitae hic culpa sit delectus inventore veritatis consectetur! Quasi, error!</p>
</body>

</html>